:root {
    // colors
    --color-primary: #16c79a;
    --color-primary-light-1: #19ddac;
    --color-primary-light-2: #35f4a1;
    --color-secondary: #168cc7;
    --color-secondary-light-1: #199cdd;
    --color-secondary-light-2: #1bf3ef;
    --color-black: #021d11;
    --color-black-light-1: #29263d;
    --color-black-light-2: #474262;
    --color-gray: #84919a;
    --color-gray-dark: #5c6870;
    --color-white: #fff;

    --color-blue: #42a2dc;
    --color-indigo: #5661b3;
    --color-purple: #6f42c1;
    --color-pink: #e83e8c;
    --color-red: #dc3545;
    --color-orange: #fd7e14;
    --color-yellow: #ffc107;
    --color-green: #28a745;
    --color-teal: #38a89d;
    --color-cyan: #17a2b8;

    --color-success: #38a89d;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #ab091e;

    // layouts
    --layout-default-width: 1150px;

    // header
    --header-height: 42px;
}
